@font-face {
    font-family: 'featherbold';
    src: url('font/feather_bold_by_typicalbro44_dee263c-webfont.woff2') format('woff2'),
         url('fonts/feather_bold_by_typicalbro44_dee263c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'dinnextroundedltpuploadedfile';
    src: url('fonts/') format('woff2'),
         url('fonts/din_next_rounded_lt_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'dinnextroundedltw01-regularRg';
    src: url('fonts/din_next_rounded_lt_w01_regular-webfont.woff2') format('woff2'),
         url('fonts/din_next_rounded_lt_w01_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  .logo {
    width: 250px;
    height: auto;
    margin-right: auto;
  }
  
  

  .logo {
    width: 250px;
    height: auto;
    margin-right: auto;
    padding-right: 20px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 210;
    padding: 0 50px;
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
  }
  
  .navitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navlinks {
    display: flex;
    align-items: center;
    font-size: 120%;
    gap: 80px;
    border: 0;
    vertical-align: baseline;
  }
  
  .navlinks a {
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .navlinks a:hover {
    border-color: #74b9ff;
  }
  
  .sectionlinks {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    color: #767373;
    font-family: dinnextroundedltpuploadedfile;
    white-space: nowrap;
  }
  
  .toggle-section-links {
    display: none;
  }
  
  .buttoncontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
  }
  
  
  
  @media (max-width: 1100px) {
    .navlinks {
      flex-wrap: wrap;
    }
    .sectionlinks {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    }
    .toggle-section-links {
      display: block;
      text-align: right;
      padding: 10px;
      cursor: pointer;
    }
    .sectionlinks.show {
      display: flex;
    }
  
    .buttoncontainer {
      padding: 10px;
      align-items: flex-end;
    }
  }
  
  @media (max-width: 650px) {
    .buttoncontainer {
      height: auto;
      flex-direction: column; /* add this line */
      max-height: 200px; /* adjust this value as needed */
    }
  }

  .signupbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
    width: 201px;
    height: 50px;
    background: #1CAFF6;
    border: 3px solid #1CAFF6;
    box-shadow: 0px 4px 0px #199AD6;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 125px;
    height: 18px;
    font-family: 'dinnextroundedltpuploadedfile';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
  }
  
  .signupbutton:hover {
    background-color: #52c4f9;
    border-color: #52c4f9;
  }
  
  .loginbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
    width: 201px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-shadow: 0px 4px 0px #E5E5E5;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 125px;
    height: 18px;
    font-family: 'dinnextroundedltpuploadedfile';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #1CAFF6;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
  }
  
  .loginbutton:hover {
    background-color: #f1f1f1;
  }





body {
    font-family: dinnextroundedltw01-regularRg, Arial, Helvetica, sans-serif;
    background-color: #f1f2f6;
    overflow:auto;
    padding-bottom: 100px;
}

h1 {
    font-family: featherbold;
    color: #43C000;
    margin: 20px 60px 20px auto; /* Set the left margin to "auto" to align the header to the right */
    font-size: 50px;
    padding: 0;
    text-align: right; /* Align the header text to the right */
  }

h2 {
  font-family: featherbold;
  color: #58CC02;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-family: dinnextroundedltw01-regularRg;
    color: #4B4B4B;
    margin: 20px 60px 20px auto; /* Set the left margin to "auto" to align the header to the right */
    font-size: 20px;
    padding: 0;
    text-align: right;
}



.hero-image-container-chat {
  flex: auto;
}

.chat {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin: 20px 40px 20px 40px;
    overflow-y: auto;
    height: 600px;
}
  
.chat-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
  }
  
  
  .message {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-bottom: 10px;
  }


.chatbubblelingo {
    background-color: #58CC02;
    color: #fff;
    margin: 0px 2px 2px 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    border-radius: 15px;
    word-wrap: break-word;
    max-width: 70%;
}

.usernamelingo {
    font-weight: bold;
    color: #0984e3;
    margin-bottom: 5px; 
}

.chatbubbleuser {
    background-color: #E5E5E5;
    align-self: flex-end;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: right;
}

.usernameuser {
    align-self: flex-end;
    font-weight: bold;
    color: #0984e3;
    margin-bottom: 5px;
    text-align: right;
}

.usernamesarah {
    align-self: flex-end;
    font-weight: bold;
    color: #0984e3;
    margin-bottom: 5px;
    text-align: right;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.input input {
    flex: 1;
    font-size: 16px;
    font-family: dinnextroundedltw01-regularRg;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #dfe6e9;
    margin-right: 10px;
}

.input button {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0984e3;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.input button:hover {
    background-color: #74b9ff;
}


.sendbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 50px;
    width: 100px;
    height: 50px;
    background: #1CAFF6;
    border: 3px solid #1CAFF6;
    box-shadow: 0px 4px 0px #199AD6;
    border-radius: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
    width: 125px;
    height: 18px;
    font-family: 'dinnextroundedltpuploadedfile';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
  }