/* fonts section */

@font-face {
  font-family: 'featherbold';
  src: url('font/feather_bold_by_typicalbro44_dee263c-webfont.woff2') format('woff2'),
       url('fonts/feather_bold_by_typicalbro44_dee263c-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinnextroundedltpuploadedfile';
  src: url('fonts/') format('woff2'),
       url('fonts/din_next_rounded_lt_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinnextroundedltw01-regularRg';
  src: url('fonts/din_next_rounded_lt_w01_regular-webfont.woff2') format('woff2'),
       url('fonts/din_next_rounded_lt_w01_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: dinnextroundedltw01-regularRg, Arial, Helvetica, sans-serif;
    background-color: #f1f2f6;
}

h1 {
    font-family: featherbold;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 64px;
    padding: 0;
    vertical-align: baseline;
}

h2 {
  font-family: featherbold;
  color: #58CC02;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-family: featherbold, Arial, Helvetica, sans-serif;
  color: #58CC02;
  text-align: left;
  margin-bottom: 30px;
}



  
/* nav section */

.logo {
  width: 250px;
  height: auto;
  margin-right: auto;
  padding-right: 20px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 210;
  padding: 0 50px;
  background: #fff;
  border-bottom: 2px solid #e5e5e5;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  align-items: center;
  font-size: 120%;
  gap: 80px;
  border: 0;
  vertical-align: baseline;
}

.navlinks a {
  padding: 10px 0;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

.navlinks a:hover {
  border-color: #74b9ff;
}

.sectionlinks {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 100%;
  color: #767373;
  font-family: dinnextroundedltpuploadedfile;
  white-space: nowrap;
}

.toggle-section-links {
  display: none;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
}



@media (max-width: 1100px) {
  .navlinks {
    flex-wrap: wrap;
  }
  .sectionlinks {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .toggle-section-links {
    display: block;
    text-align: right;
    padding: 10px;
    cursor: pointer;
  }
  .sectionlinks.show {
    display: flex;
  }

  .buttoncontainer {
    padding: 10px;
    align-items: flex-end;
  }
}

@media (max-width: 650px) {
  .buttoncontainer {
    height: auto;
    flex-direction: column; /* add this line */
    max-height: 200px; /* adjust this value as needed */
  }
}


  
  /* Hero Section */


  .hero-banner {
    background-color: #1CAFF6;
    padding: 50px;
  }
  
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem calc((100vw - 1300px) / 2);
    margin-bottom: 60px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .hero-description {
    font-size: 1.5rem; 
    line-height: 1.5;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'dinnextroundedltw01-regularRg';
  }
  
  .tryitoutbutton {
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-shadow: 0px 4px 0px #E5E5E5;
    border-radius: 16px;
    font-family: 'dinnextroundedltw01-regularRg';
    font-style: normal;
    font-size: 1.3rem;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #1CAFF6;
    white-space: nowrap;
  }
  
  
  .tryitoutbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 50px;
    width: 201px;
    height: 50px;
    background: #fefefe;
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 0px #E5E5E5;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 125px;
    height: 18px;
    font-family: 'dinnextroundedltpuploadedfile';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #1CAFF6;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
    
  }
  
  .tryitoutbutton:hover {
    background-color: #f1f1f1;
    
    
  }
  
  .hero-image-container {
    max-width: 50%;
  }
  
  .hero-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
 /* Small screens (mobile) */
@media only screen and (max-width: 1200px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .hero-content {
    max-width: none;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    order: 2;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1.2rem;
    max-width: 70%;
    justify-content: center;
    align-items: center
  }

  .hero-image-container {
    max-width: none;
    order: 1;
  }

  .hero-image {
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .ai-page-btn {
    font-size: 1.2rem;
    padding: 15px 25px;
  }
}

  /* features section */

  .features {
    background-color: #ffffff;
  }



/* personalized lessons */

:root {
  --color-primary: #58CC02;
  --color-text: hsl(0, 0%, 0%);
  --font-size-title: 3rem;
  --font-size-text: 1.5rem;
  --spacing: 3rem;
}

.personalized-lessons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.personalized-lessons__image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.personalized-lessons__img {
  width: 100%;
  max-width: 900px;
  height: 250px;
}

.personalized-lessons__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing);
  order: 2;
}

.personalized-lessons__title {
  margin-bottom: 1rem;
  font-size: var(--font-size-title);
  color: #58CC02;
}

.personalized-lessons__text {
  margin-bottom: 2rem;
  font-size: var(--font-size-text); 
  line-height: 1.5;
  color: var(--color-text);
}

@media only screen and (max-width: 1200px) {
  .personalized-lessons {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .personalized-lessons__image {
    order: 1;
    margin-bottom: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }
  
  .personalized-lessons__content {
    order: 2;
  }
  
  .personalized-lessons__title {
    font-size: 2rem;
  }
  
  .personalized-lessons__img {
    height: auto;
  }
}


/* instant feedback*/

:root {
  --color-primary: #FF4B4B;
  --color-text: hsl(0, 0%, 0%);
  --font-size-title: 3rem;
  --font-size-text: 1.5rem;
  --spacing: 3rem;
}

.instant-feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.instant-feedback__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing);
  order: 1;
}

.instant-feedback__title {
  margin-bottom: 1rem;
  font-size: var(--font-size-title);
  color: var(--color-primary);
}

.instant-feedback__text {
  margin-bottom: 2rem;
  font-size: var(--font-size-text); 
  line-height: 1.5;
  color: var(--color-text);
}

.instant-feedback__image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.instant-feedback__img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .instant-feedback {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .instant-feedback__content {
    order: 2;
  }
  
  .instant-feedback__image {
    order: 1;
    margin-bottom: 2rem;
  }
  
  .instant-feedback__title {
    font-size: 2rem;
  }
  
  .instant-feedback__img {
    height: auto;
  }
}



/* adaptice learning*/

:root {
  --color-primary: #CE82FF;
  --color-text: hsl(0, 0%, 0%);
  --font-size-title: 3rem;
  --font-size-text: 1.5rem;
  --spacing: 3rem;
}

.adaptive-learning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.adaptive-learning__image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

.adaptive-learning__img {
  width: 100%;
  max-width: 450px;
  height: 300px;
}

.adaptive-learning__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing);
  order: 2;
}

.adaptive-learning__title {
  margin-bottom: 1rem;
  font-size: var(--font-size-title);
  color: var(--color-primary);
}

.adaptive-learning__text {
  margin-bottom: 2rem;
  font-size: var(--font-size-text); 
  line-height: 1.5;
  color: var(--color-text);
}

@media only screen and (max-width: 1200px) {
  .adaptive-learning {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .adaptive-learning__image {
    order: 1;
    margin-bottom: 2rem;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .adaptive-learning__content {
    order: 2;
  }
  
  .adaptive-learning__title {
    font-size: 2rem;
  }
  
  .adaptive-learning__img {
    height: auto;
    max-width: 650px;
  }
}

/* real world context */

:root {
  --color-primary: #1cb0f6;
  --color-text: hsl(0, 0%, 0%);
  --font-size-title: 3rem;
  --font-size-text: 1.5rem;
  --spacing: 3rem;
}

.real-world-context {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.real-world-context__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--spacing);
  order: 1;
}

.real-world-context__title {
  margin-bottom: 1rem;
  font-size: var(--font-size-title);
  color: var(--color-primary);
}

.real-world-context__text {
  margin-bottom: 2rem;
  font-size: var(--font-size-text); 
  line-height: 1.5;
  color: var(--color-text);
}

.real-world-context__image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.real-world-context__img {
  width: 100%;
  max-width: 650px;
  height: 250px;
}

@media only screen and (max-width: 1200px) {
  .real-world-context {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .real-world-context__content {
    order: 2;
  }
  
  .real-world-context__image {
    order: 1;
    margin-bottom: 2rem;
    padding-left: 60px;
    padding-right: 60px;

  }
  
  .real-world-context__title {
    font-size: 2rem;
  }
  
  .real-world-context__img {
    height: auto;
    max-width: 900px;
  }
}





.signupbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 50px;
  width: 201px;
  height: 50px;
  background: #1CAFF6;
  border: 3px solid #1CAFF6;
  box-shadow: 0px 4px 0px #199AD6;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 125px;
  height: 18px;
  font-family: 'dinnextroundedltpuploadedfile';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.signupbutton:hover {
  background-color: #52c4f9;
  border-color: #52c4f9;
}

.loginbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 50px;
  width: 201px;
  height: 50px;
  background: #FFFFFF;
  border: 3px solid #E5E5E5;
  box-shadow: 0px 4px 0px #E5E5E5;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 125px;
  height: 18px;
  font-family: 'dinnextroundedltpuploadedfile';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #1CAFF6;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
}

.loginbutton:hover {
  background-color: #f1f1f1;
}


.header-button-container {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 150%;
  margin: 0 0 1.5rem;
  text-transform: lowercase;
}

.header {
  margin-bottom: 20px;
  text-align: left;
}


.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; 
}

/* testimonial section */


.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #58CC02;
}

.testimonial-heading {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;

}

@media screen and (max-width: 768px) {
  .testimonial-heading {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .testimonial-container {
    padding: 30px;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px;
  background-color: #58CC02;
  padding: 40px;
  justify-items: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Set width to 100% to fill grid item */
}

.testimonial-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img img {
  width: 100%;
  max-width: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.testimonial-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.testimonial-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.testimonials h1 {
  text-align: center; /* Align header text to center */
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .testimonials {
    padding: 30px;
  }
}


/* faq section */

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.faq-heading {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: #1CAFF6;

}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 800px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table-cell h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: dinnextroundedltw01-regularRg;
}

.table-cell p {
  margin: 0;
  font-size: 16px;
  font-family: dinnextroundedltw01-regularRg;
}

a {
  text-decoration: none;
}

.sectionlinks a:link, .sectionlinks a:visited, .sectionlinks a:hover, .sectionlinks a:active {
  color: inherit;
}



/* footer */

.footer {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #1CAFF6;
  margin-top: 0px;
  padding: 50px;
}

.groupselfie{
  width: 100%;
  max-width: 650px;
  height: 300px;
}

/* Add a media query for screens smaller than 600px */
@media (max-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1CAFF6;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .groupselfie {
    width: 400px;
    margin-bottom: 50px;
  }
  
  .footertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.footerheader {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 30px;
}
.tryitoutbutton {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  width: 180px;
  height: 50px;
  background: #FFFFFF;
  border: 3px solid #E5E5E5;
  box-shadow: 0px 4px 0px #E5E5E5;
  border-radius: 16px;
  font-family: 'dinnextroundedltw01-regularRg';
  font-style: normal;
  font-size: 1.3rem;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #1CAFF6;
  white-space: nowrap;
}
}

.tryitoutbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 50px;
  width: 201px;
  height: 50px;
  background: #fefefe;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 0px #E5E5E5;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 125px;
  height: 18px;
  font-family: 'dinnextroundedltpuploadedfile';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #1CAFF6;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
  
}

.tryitoutbutton:hover {
  background-color: #f1f1f1;
  
  
}